<div class="app-container">

<div class="full-width">
  <h1>Status</h1>
  <mat-slide-toggle [formControl]="linksAreSent$">Linki wysłane (1 pakiet)</mat-slide-toggle>
  <mat-slide-toggle [formControl]="linksAreSentTwice$">Linki wysłane (2 pakiet)</mat-slide-toggle>
</div>





<div class="full-width">
  <h1>Ustawienia</h1>
</div>

<mat-form-field class="full-width">
  <input type="url" [formControl]="testUrl" matInput placeholder="testowy UrL" />
  <mat-error *ngIf="testUrl.hasError('url')">
    Email is <strong>required</strong>
  </mat-error>
</mat-form-field>



<div class="full-width">
  <button [disabled]="isRunning" (click)="runIt()" mat-raised-button color="accent">testuj</button>
  <button (click)="cancelIt()" mat-raised-button color="primary">przerwij test</button>
  <br />
  <br />
  <button [disabled]="linksAreSentTwice$.value" (click)="releaseAll()" mat-raised-button color="warn">wypuść
    linki</button>

    <br />
    <br />
  <button (click)="releaseAllBrowsers()" mat-raised-button color="warn">OTWÓRZ PRZEGLĄDARKI</button>

</div>

<div class="full-width">
  <mat-slide-toggle [formControl]="isAutoRelease$">puść z automatu (gdy status OK)</mat-slide-toggle> <br />
  <mat-slide-toggle [formControl]="isAutoReleaseAtTime$">puść o:</mat-slide-toggle>&nbsp;&nbsp;
  <mat-form-field>
    <input matInput type="text" [formControl]="autoReleaseAtTime$">
  </mat-form-field>
</div>



<div class="full-width">
  opóźnienie requestow:&nbsp;<mat-slider min="1" max="2000" step="50" value="250" [formControl]="requestDelay">
  </mat-slider> {{requestDelay.value}} ms<br />
</div>




<div class="logs-container">


  <div *ngFor="let req of logsArr">{{req}}

  </div>

  <!-- <mat-form-field class="full-width">
      <textarea matInput placeholder="logi" [formControl]="logs" cdkTextareaAutosize cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="25"></textarea>
    </mat-form-field> -->
</div>


<pre>{{logsArr}}</pre>
<button *ngIf="logsArr.length>0" (click)="logsClear()" mat-raised-button color="warning">wyczyśc logi</button>


<hr />


<section>
  <h1>Linki do zatwierdzenia</h1>

  <div class="max-width">
    <button (click)="addNewLink()" mat-raised-button>dodaj link</button>
  </div>


  <div [formGroup]="linksForm$" class="links-container">
    <div *ngFor="let link of linksArr$.controls let i=index">
      <mat-form-field class="links-arr-url">
        <input type="url" [formControl]="link" matInput placeholder="link do zatwierdzenia" />
        <mat-error *ngIf="testUrl.hasError('url')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button (click)="removeLink(i)" color="warn" mat-mini-fab>
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </div>

</section>


<div class="info-section">

</div>
</div>